

## Lendos os dados normalizados previamente

In [1]:
import os
import numpy as np
from IPython.display import display
import pandas as pd

DATA_BASE_PATH = "./data"

FAC_FILE = os.path.join(DATA_BASE_PATH, "mfeat-fac-norm.npy")
FOU_FILE = os.path.join(DATA_BASE_PATH, "mfeat-fou-norm.npy")
KAR_FILE = os.path.join(DATA_BASE_PATH, "mfeat-kar-norm.npy")

fac_norm = np.load(FAC_FILE)
fou_norm = np.load(FOU_FILE)
kar_norm = np.load(KAR_FILE)

print("FAC Normalized")
display(pd.DataFrame(fac_norm).head(2))

print("FOU Normalized")
display(pd.DataFrame(fou_norm).head(2))

print("KAR Normalized")
display(pd.DataFrame(kar_norm).head(2))

FAC Normalized

,0,1,2,3,4,5,6,7,8,9,...,206,207,208,209,210,211,212,213,214,215
0,0.069196,0.320248,0.040576,0.219966,0.440415,0.342105,0.047619,0.210526,0.076923,0.352941,...,0.037859,0.189097,0.471831,0.290816,0.586207,0.945946,0.200000,0.785714,0.500000,0.565217
1,0.120536,0.231405,0.140052,0.115059,0.383420,0.371711,0.166667,0.210526,0.051282,0.235294,...,0.097911,0.056218,0.335681,0.294218,0.482759,0.837838,0.285714,0.642857,0.714286,0.478261

FOU Normalized

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,0.155955,0.247037,0.148847,0.352688,0.772897,0.069028,0.558379,0.162726,0.516306,0.059601,...,0.301652,0.264307,0.150759,0.567719,0.141470,0.747250,0.059206,0.628352,0.095886,0.588917
1,0.113125,0.219041,0.151407,0.294052,0.751752,0.080182,0.567182,0.175860,0.456988,0.098385,...,0.102266,0.158227,0.090060,0.511063,0.092081,0.728319,0.030360,0.711892,0.162660,0.604874

KAR Normalized

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.191173,0.128265,0.889728,0.392640,0.528227,0.572467,0.428702,0.117245,0.467246,0.775042,...,0.605889,0.612774,0.566488,0.485568,0.575015,0.560623,0.564614,0.836661,0.219735,0.433051
1,0.354385,0.089040,0.498033,0.478535,0.488533,0.578197,0.276222,0.227414,0.382112,0.674608,...,0.588639,0.877914,0.699784,0.256857,0.752063,0.505457,0.603371,0.618422,0.565718,0.595312

## Computando as matrizes de dissimilaridade

In [2]:
from sklearn.metrics.pairwise import euclidean_distances

fac_dissimilarity = euclidean_distances(fac_norm, fac_norm)
fou_dissimilarity = euclidean_distances(fou_norm, fou_norm)
kar_dissimilarity = euclidean_distances(kar_norm, kar_norm)

print("FAC Dissimilarity  shape: ", fac_dissimilarity.shape)
pd.DataFrame(fac_dissimilarity).head(3)

FAC Dissimilarity  shape:  (2000, 2000)

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.000000,1.725886,1.869928,1.759965,1.645997,3.301081,1.268244,1.252665,1.551345,1.625328,...,4.194407,4.087115,4.198332,3.317765,4.521834,4.160920,4.348320,4.040457,3.805022,4.600745
1,1.725886,0.000000,1.571679,1.553570,1.329155,2.576736,1.679099,1.690220,2.153856,1.446783,...,3.649613,4.005586,3.824178,2.858158,4.098826,3.738831,3.868827,3.680461,3.236586,4.153686
2,1.869928,1.571679,0.000000,1.616104,1.646691,2.997170,2.129503,1.786361,2.637528,1.718723,...,3.904762,4.261189,4.029427,3.178145,4.370217,3.881553,4.203490,3.969217,3.423565,4.545220

In [3]:
print("FOU Dissimilarity shape: ", fou_dissimilarity.shape)
pd.DataFrame(fou_dissimilarity).head(3)

FOU Dissimilarity shape:  (2000, 2000)

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.000000,1.353952,1.308675,1.509073,0.950964,1.188417,1.161280,0.861876,1.124320,1.946359,...,2.058465,2.693265,1.942853,1.795166,1.923923,1.934992,2.071977,2.243905,1.966262,2.135231
1,1.353952,0.000000,0.989246,1.483755,1.098226,1.388812,1.657044,1.576794,1.674331,1.533461,...,2.374715,3.112408,2.345903,2.150067,2.306804,2.225521,2.381274,2.653470,2.302680,2.427257
2,1.308675,0.989246,0.000000,1.554480,1.200663,1.523433,1.572943,1.373511,1.798057,1.675897,...,2.283414,3.035521,2.321533,2.032836,2.130831,2.146542,2.346521,2.584899,2.295063,2.339336

In [4]:

print("KAR Dissimilarity shape: ", kar_dissimilarity.shape)
pd.DataFrame(kar_dissimilarity).head(3)

KAR Dissimilarity shape:  (2000, 2000)

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.000000,1.270193,1.397034,1.330976,1.333689,1.842909,1.199892,1.143103,0.999613,1.328038,...,1.536729,1.781612,1.514810,1.528143,1.626433,1.589321,1.567723,1.605476,1.375733,1.655586
1,1.270193,0.000000,1.470758,1.379091,1.141953,1.807023,1.527278,1.271017,1.435665,1.465038,...,1.396196,1.749384,1.590624,1.568406,1.705351,1.776687,1.378748,1.616383,1.314507,1.666247
2,1.397034,1.470758,0.000000,1.438538,1.638747,2.038362,1.372276,1.261738,1.459814,1.090207,...,1.558713,1.796370,1.525402,1.604078,1.734006,1.552311,1.741908,1.495470,1.353730,1.698088

## Exportando matrizes de dissimilaridades

# Nova seção

In [5]:
np.save(FAC_FILE.replace("norm.npy","dissimilarity"), fac_dissimilarity)
np.save(FOU_FILE.replace("norm.npy","dissimilarity"), fou_dissimilarity)
np.save(KAR_FILE.replace("norm.npy","dissimilarity"), kar_dissimilarity)