

## Lendos os dados normalizados previamente

In [2]:
import os
import numpy as np
from IPython.display import display
import pandas as pd

DATA_BASE_PATH = "./data"

sFAC_FILE = os.path.join(DATA_BASE_PATH, "mfeat-fac-snorm.npy")
sFOU_FILE = os.path.join(DATA_BASE_PATH, "mfeat-fou-snorm.npy")
sKAR_FILE = os.path.join(DATA_BASE_PATH, "mfeat-kar-snorm.npy")

sfac_norm = np.load(sFAC_FILE)
sfou_norm = np.load(sFOU_FILE)
skar_norm = np.load(sKAR_FILE)

print("sFAC Normalized")
display(pd.DataFrame(sfac_norm).head(2))

print("sFOU Normalized")
display(pd.DataFrame(sfou_norm).head(2))

print("sKAR Normalized")
display(pd.DataFrame(skar_norm).head(2))

sFAC Normalized

,0,1,2,3,4,5,6,7,8,9,...,206,207,208,209,210,211,212,213,214,215
0,0.372549,0.352298,0.218354,0.400922,0.555556,0.222689,0.200,0.366667,0.342857,0.666667,...,0.296296,0.429501,0.455072,0.272109,0.52,0.714286,0.100000,0.7,0.769231,0.85
1,0.431373,0.428884,0.104430,0.592166,0.417508,0.325630,0.025,0.500000,0.400000,0.666667,...,0.104938,0.709328,0.452174,0.341837,0.56,0.714286,0.433333,0.7,0.923077,0.95

sFOU Normalized

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,0.376166,0.809191,0.163139,0.672225,0.419117,1.000000,0.350706,0.639343,0.290687,0.524122,...,0.025508,0.285259,0.371596,0.235082,0.400552,0.567788,0.705389,0.302418,0.820099,0.352148
1,0.104793,0.092460,0.382852,0.566712,0.056138,0.253356,0.482962,0.222267,0.369693,0.146334,...,0.048935,0.285505,0.233073,0.191874,0.322486,0.098137,0.118491,0.657117,0.179931,0.805429

sKAR Normalized

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.728009,0.660538,0.547928,0.462729,0.114335,0.659746,0.546130,0.667429,0.682627,0.906241,...,0.618053,0.786988,0.178530,0.828945,0.596638,0.399801,0.378780,0.842704,0.067734,0.256943
1,0.501298,0.450609,0.702482,0.551594,0.630640,0.395443,0.345044,0.572644,0.461775,0.163570,...,0.623760,0.159202,0.794349,0.436283,0.555642,0.000000,0.405884,0.328027,0.377511,0.284864

## Computando as matrizes de dissimilaridade

In [3]:
from sklearn.metrics.pairwise import euclidean_distances

sfac_dissimilarity = euclidean_distances(sfac_norm, sfac_norm)
sfou_dissimilarity = euclidean_distances(sfou_norm, sfou_norm)
skar_dissimilarity = euclidean_distances(skar_norm, skar_norm)

print("sFAC Dissimilarity  shape: ", sfac_dissimilarity.shape)
pd.DataFrame(sfac_dissimilarity).head(3)

sFAC Dissimilarity  shape:  (100, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.000000,3.500498,2.743809,4.494701,4.375310,4.744509,5.711107,2.548054,5.154336,3.201708,...,4.125688,3.893018,4.581493,4.836961,4.008737,3.681150,3.040815,3.993874,4.209712,2.212319
1,3.500498,0.000000,4.361985,5.786985,4.123868,5.804954,6.224989,4.537907,6.121968,4.602834,...,5.774733,4.577412,5.328310,6.461923,5.222092,3.921603,4.283001,5.767327,5.871276,3.449573
2,2.743809,4.361985,0.000000,5.038316,4.925224,5.494104,6.561032,3.393895,5.658633,4.111779,...,4.377034,4.744066,4.985995,4.589232,4.936951,3.680088,3.699259,5.040474,4.655083,2.388839

In [4]:
print("sFOU Dissimilarity shape: ", sfou_dissimilarity.shape)
pd.DataFrame(sfou_dissimilarity).head(3)

sFOU Dissimilarity shape:  (100, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.000000,3.592897,3.293653,3.208187,3.363528,3.575216,2.903819,3.549937,3.291172,3.054332,...,2.817774,3.520369,3.191838,3.133794,3.280684,2.882700,3.109273,2.527249,2.805417,4.108964
1,3.592897,0.000000,2.942100,3.132443,3.029286,1.524715,2.554609,2.641074,3.228490,2.876965,...,2.093573,2.747484,1.889352,3.512805,1.985130,1.970040,2.644394,2.550176,2.952354,2.791011
2,3.293653,2.942100,0.000000,2.399966,1.869618,2.761817,2.288939,2.733677,2.719572,2.593524,...,2.725139,2.354794,2.976598,2.801528,2.504042,2.704671,2.527234,2.497855,3.086594,3.252360

In [7]:

print("sKAR Dissimilarity shape: ", skar_dissimilarity.shape)
pd.DataFrame(skar_dissimilarity).head(3)

sKAR Dissimilarity shape:  (100, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.000000,2.538531,2.505460,2.638205,2.410922,2.438176,2.460652,2.396691,2.363222,2.580127,...,2.587264,2.749887,2.828077,2.467875,2.479791,2.563328,2.670676,2.363117,2.495333,2.486703
1,2.538531,0.000000,2.599207,2.666459,2.198474,2.201160,2.285203,2.050972,2.571596,2.566460,...,2.339534,2.766766,2.266611,2.076101,2.234986,2.329612,2.668932,2.154955,2.623114,1.952101
2,2.505460,2.599207,0.000000,1.731487,1.532870,1.928014,2.012931,2.581657,2.591382,2.540369,...,2.043098,2.289837,2.629273,2.214524,2.013683,2.155786,2.005775,2.465878,2.514911,2.004949

## Exportando matrizes de dissimilaridades

# Nova seção

In [10]:
np.save(sFAC_FILE.replace("norm.npy","dissimilarity"), sfac_dissimilarity)
np.save(sFOU_FILE.replace("norm.npy","dissimilarity"), sfou_dissimilarity)
np.save(sKAR_FILE.replace("norm.npy","dissimilarity"), skar_dissimilarity)